@font-face {
    font-family: DanaR;
    src: url(./fonts/dana-regular.woff);
}

/* Style to body tag*/
body {
    display: flexbox;
    text-align: center;
    align-items: center;
    font-family: DanaR;
    direction: rtl;
}

/* Style to expense summary */
.summary {
    width: 25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.total {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.total>div {
    width: 200px;
}

/* Style for the expense table and input form*/
.root {
    width: fit-content;
    background-color: white;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-width: 6px;
    border: 6px grey;
    box-sizing: content-box;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 30vh;
    gap: 30px;
    border-radius: 20px;
}

.root #new{
    border-radius: 20px;
    border-end-end-radius: 40px;
    border-start-end-radius: 40px;
    background-color: #ECFCF0;
    padding: 2%;
}

/* Style for table*/
#table {
    width: 50vw;
    font-size: 18px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table */
#table th,
#table td {
    text-align: center;
    padding: 12px;
}

/* Table row */
#table tr {
    border-bottom: 1px solid #ddd;
}

/* Headings*/
#table tr.titles {
    background-color: #0C3B2E;
    color: #fff;
}

/* Style for each input item */
.inputitem {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: large;
    padding: 1%;
}

input,
select,
option {
    padding: 2%;
    border-radius: 5px;
    margin: 2%;
    font-family: DanaR;
}

button {
    font-size: large;
    border-radius: 5px;
    padding: 1%;
    font-family: DanaR;
}

.zoom {
    color: rgb(102, 102, 102);
    transition: transform .2s;
}

.zoom:hover {
    color: tomato;
}

@media screen and (max-width: 768px) {
    .root{
        flex-direction: column;
        
    }
    .root #new{
        border-radius: 20px;
        border-end-end-radius: 40px;
        border-end-start-radius: 40px;
    }
}